/** 定义的常理或变量 */
@import './colors.scss';

// The UI font stack
$font-stack: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
  Ubuntu, Cantarell, 'Fira Sans', 'Droid Sans', Helvetica, Arial, sans-serif,
  'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol' !default;

// Base font size
$base-font-size: 100% !default; // typically 16px in most browsers

// ================================================
// Border radius
// ================================================

$default-border-radius: rem(2px) !default;

// ================================================
// Buttons (UiButton, UiFileupload)
// ================================================

$button-font-size                : rem(14px) !default;
$button-font-size--small         : rem(14px) !default;
$button-font-size--large         : rem(16px) !default;
$button-height                   : rem(36px) !default;
$button-height--small            : rem(32px) !default;
$button-height--large            : rem(48px) !default;