@charset "UTF-8";
@import 'mixins/utils';
@import 'common/var';
@import 'mixins/mixins';

.cu-button {
  min-width: rem(80);
  border-radius: $default-border-radius;
  border: none;
  cursor: pointer;
  font-family: $font-stack;
  font-size: $button-font-size;
  font-weight: 600;
  height: $button-height;
  letter-spacing: 0.02em;
  line-height: 1;
  min-width: rem(80px);
  outline: none;
  overflow: hidden;
  padding: 0;
  padding-left: rem(16px);
  padding-right: rem(16px);
  text-transform: uppercase;
  position: relative;
  .button__focus-ring {
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;

    &::before {
      border-radius: 50%;
      content: '';
      display: block;
      left: 0;
      margin-top: calc(-1 * (50% - #{$button-height / 2}));
      padding-top: 100%; // 1:1 aspect ratio - makes height the same as button width
      position: relative;
      top: 0;
      opacity: 0;
      transform: scale(0);
      transition: opacity 0.3s ease, transform 0.3s ease;
    }
  }
}
